@model IEnumerable<AJAX.BL.ModelsBl.ShopBL>
@{
    ViewData["Title"] = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table class="table table-hover">
        <tr><th>Name</th><th>Schedule</th><th>Description</th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Schedule</td>
                <td><input type='button' id="submit" value='Details' data-value="@item.Index"/></td>
            </tr>
        }
    </table>

    <div id="results"></div>

    <script type="text/javascript">
         $(document).ready(function () {
             $('#submit').click(function (e) {
                e.preventDefault();
                var id = $(this).data('value');
            $('#results').load('@Url.Action("Description", "Home")?id='+id)
            });
         });
    </script>
</div>